In [1]:
print("Hola Mundo")

Hola Mundo

In [2]:
## Variables Primitivos
entero= 3
decimal=1.1
nombre="Ronald"
segundo_nombre="Francisco"
casado = False
profesor = True
hijos = None
print(type(entero))  #int
print(type(decimal))  #float
print(type(nombre))  #str
print(type(segundo_nombre))  #str
print(type(casado))  #boolean
print(type(profesor))  #boolean
print(type(hijos))  #NoneType

"""asdasdasddsdasdas"""  #comentarios mayores

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [15]:
# Condicion (Boolean)
# Truty
# Falsy

tuplas = ()
listas = []
diccionario = {}
print(type(tuplas))  #tuple
print(type(listas))  #list
print(type(diccionario))  #dict

if(""):  # Falsy
    print("Truty")
else:
    print("Falsy")

if("a"):  # Truty
    print("Truty")
else:
    print("Falsy")

if(0):  # Falsy
    print("Truty")
else:
    print("Falsy")

if(-1):  # Truty
    print("Truty")
else:
    print("Falsy")

if(1):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if(0.00):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if(0.01):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if(None):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
# Tuplas    
if(()):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if((1,2)):  # Truty
    print("Truty")
else:
    print("Falsy")
    
# Listas
if([]):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if(["a","b"]):  # Truty
    print("Truty")
else:
    print("Falsy")
    
# Diccionario
if({}):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if({}):  # Falsy
    print("Truty")
else:
    print("Falsy")

<class 'tuple'>
<class 'list'>
<class 'dict'>
Falsy
Truty
Falsy
Truty
Truty
Falsy
Truty
Falsy
Falsy
Truty
Falsy
Truty
Falsy

In [27]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
arreglo[2]
arreglo[2:5]  # Filtrar ( [2, 5[)
arreglo[2:]  # Desde el 2 hasta el final
arreglo[:7]
arreglo[-1]  #Ultimo
arreglo[2:-1]  #Filtrar ( [2, -1[)
arreglo[-8:-1]
arreglo[-9:]
arreglo[:-2]
arreglo[:]  #Principio al Final

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
# Buscar un dato en el arreglo
print(type(7 in arreglo))
print(7 in arreglo)

<class 'bool'>
True

In [31]:
# Funcion lenght
len(arreglo)

10

In [34]:
arreglo.append(11)
arreglo.pop()

11

In [37]:
arreglo.insert(1, 1.1)
arreglo

[1, 1.1, 1.1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
for numero in arreglo:
    print(numero)
    
contador = 0
while contador < 10:
    print(contador)
    contador+= 1

1
1.1
1.1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9

In [44]:
#tuplas

tuplas_numero = (1,2,3,4,5)
tuplas_numero

(1, 2, 3, 4, 5)

In [46]:
tuplas_numero[0:3]

(1, 2, 3)

In [48]:
len(tuplas_numero)

5

In [50]:
3 in tuplas_numero

True

In [52]:
tuplas_numero [0] = 0

TypeError: 'tuple' object does not support item assignment

In [61]:
# Dicccionarios
ronald = {
    nombre: "Ronald",
    "apellido": '',
    'edad': 23,
    'sueldo': 1.1,
    hijos: None,
    casado: False,
    'mascotas': [{ 458: "Pedro"}]
    
}
ronald

{'Ronald': 'Ronald',
 'apellido': '',
 'edad': 23,
 'sueldo': 1.1,
 None: None,
 False: False,
 'mascotas': [{458: 'Pedro'}]}

In [65]:
ronald["sueldo"]
ronald["mascotas"][0][458]
ronald.keys()  # Valores de la izquierda
ronald.values()  # Valores de la derecha

"apellido" in ronald.keys()
"apellido" in ronald.values()

False

In [66]:
1 == 1 or 2 == 3  #Truty
1 == 1 and 2 == 3 #Falsy

False